<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <!--<tr>
                <th>Full Stack Engineers</th>
              </tr>-->
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Associate Id</th>
          <th scope="col">Mobile</th>
          <th scope="col">Email</th>
          <th scope="row">Techincal skills</th>
          <th scope="row">Non-Techincal skills</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles">
          <th scope="row">{{profile.id}}</th>
          <td>{{profile.name}}</td>
          <td>{{profile.associateId}}</td>
          <td>{{profile.mobile}}</td>
          <td>{{profile.email}}</td>
          <td>
        <tr *ngFor="let techSkill of profile.technicalSkill">
          <td>{{techSkill.skillName}}-{{techSkill.expertiseLevel}}</td>
        </tr>
        </td>
        <td>
          <tr *ngFor="let nonTechSkill of profile.nonTechnicalSkill">
            <td>{{nonTechSkill.skillName}}-{{nonTechSkill.expertiseLevel}}</td>
          </tr>          
          <!--<tr>
            <td>spoken:{{profile.technicalSkills.aws}}</td>
          </tr>
          <tr>
            <td>communication:{{profile.technicalSkills.aws}}</td>
          </tr>
          <tr>
            <td>aptitude:{{profile.technicalSkills.aws}}</td>
          </tr> -->
        </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>