<div class="container">
    <h2>Search Engineer</h2>
    <!--<div class="row">
        <div class="col-sm-2, col-md-4">-->
            
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!--<div class="row">
                        <div class="col-sm-2, col-md-4">
                    <label for="name">Name</label>-->
                    <h6 style="font-weight:bold">Search By</h6>
                    <select formControlName="searchId" class="form-control" (change)="changeWebsite($event)">
                        <option>Select</option>
                          <option *ngFor="let item of dataList;let i = index" value="{{item}}" [selected]="i == 0">
                            {{item}}
                          </option>
                        </select>
                    <input type="text" class="form-control" id="searchVal" formControlName="searchVal">
                    <div class="alert alert-danger" *ngIf="searchForm.get('searchVal').invalid 
              && searchForm.get('searchVal').touched">
                        <div *ngIf="searchForm.get('searchVal').errors?.['required']">
                            Search Value is required.
                        </div>
                    </div>
                </div>
                <button type="submit" [disabled]="searchForm.invalid" class="btn btn-success">Submit</button>
                    <!--</div>
                    </div> -->
            </form>
     <!--   </div>
    </div>-->
</div>
<!--<app-list></app-list> -->
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profile of profiles">
                    <th scope="row">{{profile.id}}</th>
                    <td>{{profile.name}}</td>
                    <td>{{profile.associateId}}</td>
                    <!--<td>{{employee.email}}</td>-->
                    </tr>
              <!--<tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr> -->
            </tbody>
          </table>
    </div>
</div>